{% extends "base.html" %}
{% load static %}
{% load carts_tags %}

{% block title %}
	Корзина
 {%  endblock %}

{% block content %}
	{% carts_user request as carts %}
	<div class="row mt-1">
		<div class="col-lg-2">
			<!-- Пустой блок на усмотрение -->
		</div>
		<div class="col-lg-10">
			<!-- Контент на странице -->
			<div class="row">
				<div class="container mt-5">
					<div class="row justify-content-center">
						<div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
							{% include "carts/includes/include_cart.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}