{% extends "main/base.html" %}
{% load static %}



{% block css %}
	<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
 {%  endblock %}

{% block content %}
	<div class="my-5 pt-5 px-2 pb-2 bg-white custom-shadow rounded">
		<h2 class="m-2"><strong>{{ title }}</strong></h2>
		<p class="m-2">{{ description }}</p>
	</div>
{% endblock %}

{% block footer %}
	<footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">{{ footer_text }}</p>
        </div>
    </footer>
{% endblock %}
